#!/bin/sh

killall ssh-agent
eval $(ssh-agent)
xrandr --dpi 96
ranwall &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

autostart="dwmblocks numlockx redshift unclutter sxhkd picom mpd flameshot qbittorrent"

for program in $autostart; do
	pidof -s "$program" || "$program" &
done >/dev/null 2>&1
